---
    import CharPageLayout from '../../layouts/CharPageLayout.astro';
    const killerTitle = "The Mastermind";
    const killerPortrait = "/assets/mastermind_portrait.png";
    const powerIcon = "/assets/mastermind_power_icon.png";
    const perkName1 = "Awakened Awareness";
    const perkName2 = "Superior Anatomy";
    const perkName3 = "Terminus";
    const perkIcon1 = "/assets/IconPerks_awakenedAwareness.png";
    const perkIcon2 = "/assets/IconPerks_superiorAnatomy.png";
    const perkIcon3 = "/assets/IconPerks_terminus.png";
---

<CharPageLayout killerTitle={killerTitle} killerPortrait={killerPortrait} powerIcon={powerIcon} perkName1={perkName1} perkName2={perkName2} perkName3={perkName3} perkIcon1={perkIcon1} perkIcon2={perkIcon2} perkIcon3={perkIcon3}>
    <p slot="killer-description">The Mastermind (better known as Albert Wesker) is a brilliant and ruthless mastermind
        infused with the power of Uroboros. He excels at map control and putting pressure on survivors with his immense speed.</p>
        
    <p slot="power-description">The Mastermind's main power is <dfn>Virulent Bound</dfn>, which allows him to traverse the map at 
        <em>incredibly</em> fast speeds. By holding down the power button, the Mastermind can charge up
        and dash forward quickly by pressing the attack button when the charge gauge is full. If he
        hits a survivor while using Virulent Bound, he will deal damage and apply the <dfn>Infected</dfn> status effect.
        <dfn>Infected</dfn> survivors will slowly build up their <dfn>Infection Meter</dfn> over time
        until it reaches maximum capacity, at which point they will be <dfn>Fully Infected</dfn>. 
        <dfn>Fully Infected</dfn> survivors suffer from reduced movement speed and will be immediately downed
        if the Mastermind hits them with <dfn>Virulent Bound</dfn>.
    </p>
    <p slot="perk1-description">While carrying a survivor, the auras of nearby survivors are revealed to you.</p>
    <p slot="perk2-description">When a survivor performs a fast vault near you, your vault speed is increased.</p>
    <p slot="perk3-description">Once the Exit Gates are powered, all survivors suffer from the <dfn>Broken</dfn> status effect
        until the gates are opened, at which point the effects linger for an additional 20 seconds.
        The <dfn>Broken</dfn> status effect prevents survivors from healing themselves or others.</p>
    <ul slot="playstyle-tips">
        <li>Use your power to quickly close the distance between you and survivors.</li>
        <li>Focus on hitting survivors with your power to build up their Infection Meter.</li>
        <li>Don't try to use your powers on short loops! You cannot turn while using your power.</li>
        <ul>
            <li>For more advanced killer players, learning Wesker's Hug Tech is a great way to circumvent this.</li>
        </ul>
    </ul>
</CharPageLayout>
