---
import NavBar from '../components/NavBar.astro';
let { killerTitle } = Astro.props; // The Killer's Title
let { killerPortrait } = Astro.props; // The path to the Killer's Portrait image
let { powerIcon } = Astro.props; // The path to the Killer's Power Icon image
let {perkName1 } = Astro.props; // The name of the first perk
let { perkName2 } = Astro.props; // The name of the second perk
let { perkName3 } = Astro.props; // The name of the third perk
let { perkIcon1 } = Astro.props; // The path to the first perk's icon image
let { perkIcon2 } = Astro.props; // The path to the second perk's icon image
let { perkIcon3 } = Astro.props; // The path to the third perk's icon image

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="../src/styles/styles.css" />
        <title>DBD Guide | {killerTitle}</title>
	</head>
    
	<body>
		<header>
			<h1>{killerTitle}</h1>
            <hr>
		</header>
		<main>
			<h2>General</h2>
                <img class='killer-portrait' src={killerPortrait} alt={`${killerTitle} Portrait`} />
                <slot name='killer-description'/>
            <hr>

            <h2>Power</h2>
                <img class='power-icon' src="../src/assets/mastermind_power_icon.png" alt={`${killerTitle}'s Power Icon`}/>
                <slot name="power-description"/>
            <hr>

            <h2>Perks</h2>
                <p>{killerTitle} comes with 3 unique perks:</p>
                <img class='perk-icon' src={perkIcon1} alt={`${perkName1} Perk Icon`} />
                <h3>{perkName1}</h3>
                    <slot name='perk1-description'/>
                <img class='perk-icon' src={perkIcon2} alt={`${perkName2} Perk Icon`} />
                <h3>{perkName2}</h3>
                    <slot name='perk2-description'/>
                <img class='perk-icon' src={perkIcon3} alt={`${perkName3} Perk Icon`} />
                <h3>{perkName3}</h3>
                    <slot name='perk3-description'/>
            <hr>

            <h2>Playstyle Tips</h2>
            <slot name='playstyle-tips'/>
		</main>
		<footer>
            <NavBar />
		</footer>
	</body>
</html>
